<h1>Users#new</h1>
<li>
	<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
	<%= link_to('Update', edit_user_registration_path) %>
</li>

<p>Find me in app/views/users/new.html.erb</p>


